*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
}

a
{
    text-decoration: none;
}

header
{
    text-align: center;
    font-family:  Linux Libertine,Hoefler Text,Georgia,Times New Roman,Times,serif;
}

header>.main-title
{
    margin: 40px 277px 5px;
}

header .main-title>h1
{
    font-size: 2.6rem;
    font-weight: normal;
}

header .main-title>h1>span
{
    font-size: 3.8rem;
}

header>.main-title>p
{
    margin-top: 15px;
    font-size: 1.5rem;
}

main
{
    width: auto;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
    margin: 0 auto;
}

.cover-page
{
    width: 546px;
    display: flex;
    font-size: 1.6rem;
    margin: 0 auto;
    position: relative;
}

.cover-page>img
{
    position: absolute;
    width: 200px;
    height: 183px;
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
}

.left-content,.right-content
{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.left-content a>div,.right-content a>div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #36c;
    height: 45px;
    margin-top: 20px;
    width: auto;
}

.left-content a>div>span,.right-content a>div>span
{
    font-size: 1.3rem;
    color: #54595d;
}

.left-content .container-externo:nth-child(2),
.left-content .container-externo:nth-child(3),
.left-content .container-externo:nth-child(4)
{
    align-self: flex-start;
}

.right-content .container-externo:first-child,
.right-content .container-externo:last-child,
.left-content .container-externo:first-child,
.left-content .container-externo:last-child
{
    align-self: center;
}

.left-content .container-externo:nth-child(2)
{
    margin-left: 30px;
}

.left-content .container-externo:nth-child(3)
{
    margin-left: 15px;
}

.left-content .container-externo:nth-child(4)
{
    margin-left: 30px;
}

.right-content .container-externo:nth-child(2),
.right-content .container-externo:nth-child(3),
.right-content .container-externo:nth-child(4)
{
    align-self: flex-end;
}

.right-content .container-externo:nth-child(2)
{
    margin-right: 30px;
}

.right-content .container-externo:nth-child(3)
{
    margin-right: 15px;
}

.right-content .container-externo:nth-child(4)
{
    margin-right: 30px;
}

.container-externo div:active
{
    border: 1px solid #36c;
}